@charset "utf-8";

body{background: url(../../../img/front/app/bg.png) no-repeat top center!important;}
.index .housing-logo{height:500px;width:1800px;display: table-cell;vertical-align: middle;text-align: center;}
.index .housing-des {text-align: center;}
.index .housing-des {font-size: 25px;line-height:40px;color: #fff!important;margin-bottom: 40px;}