<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lh.diary.mapper.DiaryContentMapper">
	<insert id="saveContent">
		INSERT INTO tb_diary_content (
			diary_id,
			content,
			created,
			updated
		)
		VALUES (
			#{diaryId},
			#{content},
			#{created},
			#{updated}
		)
	</insert>

	<update id="updateContent">
		UPDATE tb_diary_content
		<set>
		  	<if test="content != null">
				content = #{content},
			</if>
			<if test="created != null">
				created = #{created},
			</if>
			<if test="updated != null">
				updated = #{updated}
			</if>
		</set>
		WHERE diary_id = #{diaryId}
	</update>


</mapper>