<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lh.diary.mapper.MoodMapper">

	<resultMap type="Mood" id="moodRM" autoMapping="true">
		<id column="id" property="id"/>
	</resultMap>

	<select id="listMoodByPage" resultMap="moodRM">
		SELECT id, name, type, remark, created, updated
		FROM tb_mood
		WHERE status = 0
		<if test="key != null and key != '' and key != 'all'">
			AND ${key} = #{value}
		</if>
		ORDER BY updated DESC
		LIMIT #{pageIndex}, #{pageSize}
	</select>

	<select id="count" resultType="int">
		SELECT COUNT(*)
		FROM tb_mood
		WHERE status = 0
		<if test="key != null and key != '' and key != 'all'">
			AND ${key} = #{value}
		</if>
	</select>

</mapper>